body {
    background: #83BCA9;
    font-family: 'Muli', sans-serif;
    color: white;
}

#start {
    font-family: 'Acme', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
    top: 50%;
    font-size: 24px;
    border: 2px solid white;
    background: none;
    color: white;
    padding: 13px 5px;
    cursor: pointer;
}

#start:hover {
    transition: 1s ease all;
    opacity: 0.5;
}

#wordLength {
    font-size: 2em;
}

#letters {
    font-size: 3em;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 845px;
    top: 50%;
    text-align: center;
}

#letters ul li {
    display: inline-block;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.25);
    padding: 0px 10px;
    border-radius: 4px; 
    margin-bottom: 10px;
    font-family: 'Acme', sans-serif;

}

.container {
	 max-width: 600px;
	 margin: 0 auto;
 }

.lines {
	display: inline-block;
    list-style-type: none;
    border-bottom: 1px solid white;
    margin-left: 5px;
    width: 30px; 
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

 #stick {
    position: relative;
    float: right;
    top: 120px;
    border-bottom: 2px solid black;
    width: 291px;
    height: 150px;
 }
  #stick div:nth-of-type(1) {
    position: absolute;
    width: 300px;
    border-bottom: 1px solid black;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #stick div:nth-of-type(2) {
    position: absolute;
    width: 100px;
    border-bottom: 2px solid black;
    top: -150px;
    left: 150px;
  }
  .incorrectly-chosen {   
    background: rgba(255, 0, 0, 0.24) !important;
    color: #e20909;
  }
  .chosen-correctly {
    background: rgba(33, 191, 78, 0.25) !important;
    color: #228c22;
  }
