body {
    background: #83BCA9;
    font-family: 'Muli', sans-serif;
    color: white;
}

#start {
    font-family: 'Acme', sans-serif;
    width: 285px;
    font-size: 24px;
    border: 2px solid white;
    background: none;
    color: white;
    padding: 13px 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 30%;
}

#start:hover {
    transition: 1s ease all;
    opacity: 0.5;
}

#wordLength {
    font-size: 2em;
    text-align: center;
}

#wordInput {
    margin-left: 39px;
    display: inline-block;
}

#turnsLeft {
    display: inline-block;
}

#wordInput input{
    text-align: center;
}

#letters ul{
    max-width: 375px;
    font-size: 3em;
    text-align: justify;
    display: inline-block;
}

#guessLetters {
    text-align: center;
    margin-bottom: 40px;

}

#letters ul li {
    display: inline-block;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.25);
    padding: 0px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Acme', sans-serif;

}

.container {
	max-width: 780px;
    margin: -21px auto;
    background: rgba(255, 255, 255, 0.16);
    padding: 45px;
 }

.lines {
	display: inline-block;
    list-style-type: none;
    border-bottom: 1px solid white;
    margin-left: 5px;
    width: 30px; 
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

 #stick {
    position: relative;
    float: right;
    top: 233px;
    border-bottom: 2px solid white;
    width: 296px;
    height: 150px;
 }
  #stick div:nth-of-type(1) {
    position: absolute;
    width: 300px;
    border-bottom: 1px solid white;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #stick div:nth-of-type(2) {
    position: absolute;
    width: 73px;
    border-bottom: 2px solid white;
    top: -150px;
    left: 150px;
  }
  .incorrectly-chosen {   
    background: rgba(255, 0, 0, 0.24) !important;
    color: #e20909;
  }
  .chosen-correctly {
    background: rgba(33, 191, 78, 0.25) !important;
    color: #228c22;
  }
